__pycache__
.pyc
.idea\
/SnakeGame/.idea
Mail Merge Project/Output/.DS_Store
Mail Merge Project/Input/.DS_Store
/Mail Merge Project/.idea
Mail Merge Project/.DS_Store
/day-25-us-states-game-start - Copy/.idea
/US-States-Game/.idea
/NATO-alphabet/.idea
/Miles-to-KM-GUI/.idea
/Password-Generator/.idea
/password-manager-start/.idea
/Daily-Motivation-Emailer/.idea
/Day-33/.idea
/issoverhead-notifier/.idea
/kanye-quotes-api-gen/.idea
/Password-Manager/.idea
/quizzler-app/.idea
/Rain SMS Notifier/.idea
/Stock-News-Alerts/.idea
/Birthday-Wisher/.idea
/BlackJack/.idea
/PythonProject/tests/.idea
PythonProject/tests/main.py
